[submodule "src/accml/custom/epics"]
	path = src/accml/custom/epics
	url = https://github.com/python-accelerator-middle-layer/epics.git
[submodule "src/accml/custom/accml_tango"]
	path = src/accml/custom/accml_tango
	url = https://github.com/python-accelerator-middle-layer/accml_tango.git
	branch = dev/main
